extends layout

block content
  h1= title
  -
  - var result = [{"travel_name":"indigo","travel_price":2500,"travel_type":"first_class"},{"travel_name":"alska","travel_price":2000,"travel_type":"second_class"},{"travel_name":"qatar","travel_price":3000,"travel_type":"business"}]
  div.container-fluid
     div.row
        each item,index in result
            div.col-sm-2(onclick=`buy(${index})`) travel Name: #{item["travel_name"]}  <br>  Travel price: #{item["travel_price"]} <br> Travel type: #{item["travel_type"]} 
  script.
      function buy(index){
         alert("you purchased item "+(index+1))
      }